body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chatContainer{
    width: 500px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
    overflow: hidden;
}

.chatHeader{
    background-color: blue;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.chatMsgs{
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: white;
}

.msgUser1{
    background-color: lightblue;
    align-self: flex-end;
    text-align: right;
    margin-left: auto;
}

.msgUser2{
    background-color: lightblue;
    align-self: flex-start;
}

#panel{
    display: flex;
    border-top: 1px solid lightcyan;
    background-color: white;
}

#txtF{
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
}

#btn{
    background-color: lightblue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#btn:hover{
    background-color: blue;
}
