body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chatContainer {
    width: 500px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
    overflow: hidden;
}

.chatHeader {
    background-color: blue;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.chatMsgs {
    max-height: 500px;
    max-width: 800px;
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: white;
}

.msgUser1 {
    background-color: #C9E6F0;
    align-self: flex-end;
    text-align: right;
    margin-left: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.msgUser2 {
    background-color: #78B3CE;
    align-self: flex-start;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#panel {
    display: flex;
    border-top: 1px solid lightcyan;
    background-color: white;
}

#txtF {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
}

#btn {
    background-color: lightblue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#btn:hover {
    background-color: blue;
}

/* LOADER  */
.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-left: auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}